<%- include('headerAndNav') %>
<body class='bg'>  
<!-- First Section--> 
<video autoplay muted loop id="mainPageBirdDisplay">
  <source src="/seagulls.mp4" type="video/mp4">
</video>  
<div class= "toCollapseShow" data-toggle="collapse" data-target="#collapseSightingsTable">
  <div class="row">
    <div class="col d-flex justify-content-center align-self-center backgroundDisplay">
      <div class='displaySightings'>
        <span>All Bird Sightings</span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col d-flex justify-content-center align-self-center backgroundDisplay'>
      <span><i class="fa fa-angle-double-down fa-3x"></i></span>
    </div>
  </div>
</div> 

<section>
<div class="container-sm tableDisplay collapse" id="collapseSightingsTable">
  <table class="table table-hover" class="collapse" data-parent="#overallAccordion">
  <thead>
    <tr>
      <th scope="col" class='text-white'>ID.</th>
      <th scope="col" class='text-white'>Species Name</th>
      <th scope="col" class='text-white'>Habitat</th>
      <th scope="col" class='text-white'>Flock Size</th>
      <th scope="col" class='text-white'>Logged By</th>
      <th scope="col" class='text-white'>Actions</th>
    </tr>
  </thead>
  <tbody id="accordion">
    <% sightings.forEach((sighting,index)=>{ %>
    <tr class= "accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse<%=index%>">
      <th scope="row" class='text-white'><%=sighting.id%></th>
      <td><a href="/note/<%=sighting.id%>" class="text-dark"><%=sighting.species_name%> </a> </td>
      <td class='text-white'> <%=sighting.habitat%> </td>
      <td class='text-white'> <%=sighting.flock_size%> </td>
      <td class='text-white'> <%=sighting.username%></td>      
    <td class='actionBtns'>
      <div class="row">
        <div class="col-sm-3">
             <a href="/note/<%=sighting.id%>/edit" class="btn btn-outline-dark" role="button">
          Edit</a
        >
        </div>
       <div class="col-sm-3"> 
        <form action="/note/<%=sighting.id%>/delete?_method=DELETE" method="POST">
          <input
            type="submit"
            class="btn btn-outline-danger"
            name="_method"
            value="Delete"
          />
        </form>
      </div>
    </td>
    <td class="expand-button"></td>
    </tr>
    <tr>
    <td colspan="12">
      <div id="collapse<%=index%>" class="collapse" data-parent="#accordion">
                <div class="row pt-3 pl-3"><b>Species Name:</b></div>
      <div class="row pl-3"><%=sighting.species_name%></div>

      <div class="row pt-3 pl-3"><b>Habitat:</b></div>
      <div class="row pl-3"><%=sighting.habitat%></div>

      <div class="row pt-3 pl-3"><b>Date:</b></div>
      <div class="row pl-3"><%=sighting.date_seen%></div>

      <div class="row pt-3 pl-3"><b>Appearance:</b></div>
      <div class="row pl-3"><%=sighting.appearance%></div>
      
      <div class="row pt-3 pl-3"><b>Behaviour:</b></div>
      <div class="row pl-3"><%=sighting.behaviour%></div>

      <div class="row pt-3 pl-3"><b>Vocalizations:</b></div>
      <div class="row pl-3"><%=sighting.vocalizations%></div>

      <div class="row pt-3 pl-3"><b>Flock Size</b></div>
      <div class="row pl-3"><%=sighting.flock_size%></div>
      </div>
    </td>
    </tr>    
    <% }) %>
  </tbody>
</table>
  </div>


</section>


<!-- Second Section on Species Viewed-->
<section>
<div class= "toCollapseShow" data-toggle="collapse" data-target="#collapseSpeciesTable">
  <div class="row">
    <div class="col d-flex justify-content-center align-self-center backgroundDisplay">
      <div class='displaySightings2'>
        <span>All Species Recorded</span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col d-flex justify-content-center align-self-center backgroundDisplay angleArrows'>
      <span><i class="fa fa-angle-double-down fa-3x"></i></span>
    </div>
  </div>
</div> 

<div class="container-sm tableDisplay collapse" id="collapseSpeciesTable">
  <table class="table table-hover tableBackground" class="collapse" data-parent="#overallAccordion">
  <thead>
    <tr>
      <th scope="col" class='text-white'>ID</th>
      <th scope="col"class='text-white'>Species Name</th>
      <th scope="col"class='text-white'>Scientific Name</th>
      <th scope="col"class='text-white'>Family Name</th>
      <th scope="col"class='text-white'>Other Information</th>
    </tr>
  </thead>
  <tbody id="accordion2">
    <% species.forEach((singleSpecies,index)=>{ %>
    <tr class= "accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse<%=index%>">
      <th scope="row" class='text-white'><%=singleSpecies.id%></th>
      <td ><a href="/note/<%=species.id%>" class='text-dark'><%=singleSpecies.name%> </a> </td>
      <td class='text-white'> <%=singleSpecies.scientific_name%> </td>
      <td class='text-white'> <%=singleSpecies.family_name%></td>      
    <td class='actionBtns'>
      <div class="row">
        <div class="col-sm-3">
             <a href="/note/<%=singleSpecies.id%>/edit" class="btn btn-outline-dark" role="button">
          Edit</a
        >
        </div>
       <div class="col-sm-3"> 
        <form action="/note/<%=singleSpecies.id%>/delete?_method=DELETE" method="POST">
          <input
            type="submit"
            class="btn btn-outline-danger"
            name="_method"
            value="Delete"
          />
        </form>
      </div>
    </td>
    <td class="expand-button"></td>
    </tr>
    <tr>
    <td colspan="12">
      <div id="collapse<%=index%>" class="collapse" data-parent="#accordion2">
                <div class="row pt-3 pl-3"><b>Species Name:</b></div>
      <div class="row pl-3"><%=species.species_name%></div>

      <div class="row pt-3 pl-3"><b>Scientific Name</b></div>
      <div class="row pl-3"><%=species.scientific_name%></div>

      <div class="row pt-3 pl-3"><b>Family Name</b></div>
      <div class="row pl-3"><%=species.family_name%></div>

      <div class="row pt-3 pl-3"><b>Other Information</b></div>
      <div class="row pl-3"><%=species.other_information%></div>
    </td>
    </tr>    
    <% }) %>
  </tbody>
</table>
  </div>
</section>
<section>
<div class="videoDisplay">
  <p><span class="display"></span></p>
</div>
</section>

</div>
</body>

<%-include('footer') %>
