<%- include('headerAndNav') %>
<body class='bg'>  

<%-include('carousel')%>
 
<!-- First section for Recommended Podcasts by Series -->
<%-include('popularSeries')%>
<!-- Second section for Recommended Podcasts by Episodes -->
<%-include('recommendation') %>
<!-- Third Section on Social Activity-->
<%-include('socialActivity') %>

</div>
</body>

<div class="spacing"></div>
<span class="iframeDisplay">
    <iframe class ="mt-2 " width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src='<%=episodeLinkToPlay%>'></iframe>
</span>
<%-include('footer') %>
