<%- include('headerAndNav') %>
<body class='bg'>  
  <% if (locals.selectedSeries){ %>
    <%-include('selectedSeries')%>
  <% } else { %>
    <%-include('carousel')%>
  <% } %>
<!-- First section for Recommended Podcasts by Series -->
<%-include('popularSeries')%>
<!-- Second section for Recommended Podcasts by Episodes -->
<%-include('recommendation') %>
<!-- Third Section on Social Activity-->
<%-include('socialActivity') %>

</div>
</body>

<div class="spacing"></div>

<span class="fixed-bottom d-flex justify-content-center">
    <iframe class ="mt-2 " width="30%" height="90%" scrolling="no" frameborder="no" allow="autoplay" src='<%=episodeLinkToPlay%>'></iframe>
</span>
<%-include('footer') %>
