<%- include('headerAndNav') %>
<body class='bg'>  

<%-include('carousel')%>
 
<!-- First section for Recommended Podcasts by Series -->
<%-include('popularSeries')%>
<%-include('popularSeriesCarousel')%>
<!-- Second section for Recommended Podcasts by Episodes -->
<%-include('recommendation') %>
</div>
</body>

<%- include('../soundcloudPlayer')%>
<%-include('footer') %>
