<%- include('headerAndNav') %>
<body class='bg'>  

<%-include('carousel')%>
 
<!-- First section for Recommended Podcasts by Series -->
<%-include('popularSeries')%>
<!-- Second section for Recommended Podcasts by Episodes -->
<%-include('recommendation') %>
<!-- Third Section on Social Activity-->
<%-include('socialActivity') %>
</div>
</body>

<%- include('../soundcloudPlayer')%>
<%-include('footer') %>
