<%- include('headerAndNav') %>
<body class='bg'>  

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>

<!-- First section for Recommended Podcasts by Series -->
<section>
<div class= "toCollapseShow" data-toggle="collapse" data-target="#collapsePopularSeries">
  <div class="row">
    <div class="col d-flex justify-content-center align-self-center backgroundDisplay">
      <div class='displaySightings'>
        <span>Popular Podcast Series<span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col d-flex justify-content-center align-self-center backgroundDisplay'>
      <span><i class="fa fa-angle-double-down fa-3x"></i></span>
    </div>
  </div>
</div> 

<div class="tableDisplay collapse show" id="collapsePopularSeries">  
<div class="card-deck">
<div class = "row d-flex flex-row flex-nowrap overflow-auto">
 <% series.forEach((title)=> { %>
  <div class = "col-xs-1 col-sm-3 col-md-2  ">
    <div class="card cardSize">

    <form class= "artworkDisplay d-flex justify-content-center"           
        <% if(title.artwork_filename) { %>
        style="background-image:url(<%=title.artwork_filename%>)"
        <% } %>
        action ='/'
        > 
          <img class="card-img-top w-auto">
          <button class= "mx-auto" type='submit'>View</button>
          <input type='hidden' name="series_id" value="<%=title.id%>"/>
      </form>
     
      <div class="card-body">
       <a href="/series/<%=title.id%>"><h5 class="card-title"><%=title.name%></h5></a>
        <p class="card-text"><%=title.description%></p>
      </div>
    </div>
  </div>
<% }); %>
</div>
</div>
</section>

<!-- Second section for Recommended Podcasts by Episodes -->
<section>
<div class= "toCollapseShow bg-warning" data-toggle="collapse" data-target="#collapseRecommendedEps">
  <div class="row">
    <div class="col d-flex justify-content-center align-self-center backgroundDisplay">
      <div class='displaySightings'>
        <span>Recommended Episodes For You<span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col d-flex justify-content-center align-self-center backgroundDisplay'>
      <span><i class="fa fa-angle-double-down fa-3x"></i></span>
    </div>
  </div>
</div> 

<div class="tableDisplay collapse show" id="collapseRecommendedEps">  
<div class="card-deck">
<div class = "row d-flex flex-row flex-nowrap overflow-auto">
 <% episodes.forEach((episode)=>{ %>
  <div class = "col-xs-1 col-sm-3 col-md-2  ">
    <div class="card cardSize">
      
      <form class= "artworkDisplay d-flex justify-content-center" 
              
        <% if(episode.episode_artwork) {%>
        style="background-image:url(<%=episode.episode_artwork%>)"
        <% } else { %>
        style="background-image:url(<%=episode.album_artwork%>)"
        <% } %>
        
        action ='/'> 
          <img class="card-img-top w-auto">
          <button class= "mx-auto" type='submit'>Play</button>
          <input type='hidden' name="episode_id" value="<%=episode.podcast_ext_url%>"/>
      </form>
     
      <div class="card-body">
        <h5 class="card-title"><%=episode.name%></h5>
        <p class="card-text"><%=episode.episode_description%></p>
      </div>
    </div>
  </div>
<% }); %>
</div>
</div>
</section>

<!-- Third Section on Social Activity-->
<section>
<div class= "toCollapseShow bg-info" data-toggle="collapse" data-target="#collapseSpeciesTable">
  <div class="row">
    <div class="col d-flex justify-content-center align-self-center backgroundDisplay">
      <div class='displaySightings2'>
        <span>Social Activity</span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col d-flex justify-content-center align-self-center backgroundDisplay'>
      <span><i class="fa fa-angle-double-down fa-3x"></i></span>
    </div>
  </div>
</div> 

<div class="container-sm tableDisplay collapse" id="collapseSpeciesTable">
  <table class="table table-hover" class="collapse" data-parent="#overallAccordion">
  <thead>
    <tr>
      <th scope="col" class='text-dark'>ID.</th>
      <th scope="col" class='text-dark'>Play</th>
      <th scope="col" class='text-dark'>Episode Name</th>
      <th scope="col" class='text-dark'>Ep. Number</th>
      <th scope="col" class='text-dark'>Description</th>
    </tr>
  </thead>
  <tbody id="accordion">
    <tr class= "accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse1">
      <% episodes.forEach((episode)=>{ %>
      <th scope="row" class='text-dark'><%=episode.id%></th>
      <td><form action ='/'>
        <button type='submit'>Play</button>
        <input type='hidden' name="episode_id" value="<%=episode.podcast_ext_url%>"/>
      </form></td>
      <td><a class="text-dark"><%=episode.name%></a></form> </td>
      <td class='text-dark'><%= episode.episode_number %></td>
      <td class='text-dark'><%= episode.description %> </td>      
    <td class='actionBtns'>
      <div class="row">
        <div class="col-sm-3">
             <a href="/note//edit" class="btn btn-outline-dark" role="button">
          Edit</a
        >
        </div>
       <div class="col-sm-3"> 
        <form action="/note//delete?_method=DELETE" method="POST">
          <input
            type="submit"
            class="btn btn-outline-danger"
            name="_method"
            value="Delete"
          />
        </form>
      </div>
    </td>
    <td class="expand-button"></td>
    </tr>
    <% }); %>
    <tr>
    <td colspan="12">
      <div id="collapse1" class="collapse" data-parent="#accordion">
                <div class="row pt-3 pl-3"><b>Species Name:</b></div>
      <div class="row pl-3"></div>

      <div class="row pt-3 pl-3"><b>Habitat:</b></div>
      <div class="row pl-3"></div>

      <div class="row pt-3 pl-3"><b>Date:</b></div>
      <div class="row pl-3"></div>

      <div class="row pt-3 pl-3"><b>Appearance:</b></div>
      <div class="row pl-3"></div>
      
      <div class="row pt-3 pl-3"><b>Behaviour:</b></div>
      <div class="row pl-3"></div>

      <div class="row pt-3 pl-3"><b>Vocalizations:</b></div>
      <div class="row pl-3"></div>

      <div class="row pt-3 pl-3"><b>Flock Size</b></div>
      <div class="row pl-3"></div>
      </div>
    </td>
    </tr>    
  </tbody>
</table>
  </div>
</section>

<!-- To be removed -->
<section>
  <div class="videoDisplay">
    <p><span class="display"></span></p>
  </div>
</section>

</div>
</body>
<div class="fixed-bottom bg-dark">
  <div class ="container">
    <div class="row">
      <div class="col d-flex justify-content-center  ">
  <iframe class ="mt-2" width="50%" height="90%" scrolling="no" frameborder="no" allow="autoplay" src='<%=episodeLinkToPlay%>'></iframe>
 
</div>
    </div>
  </div>
</div>
<%-include('footer') %>
