<section>
<div class= "toCollapseShow bg-warning" data-toggle="collapse" data-target="#collapseRecommendedEps">
  <div class="row">
    <div class="col d-flex justify-content-center align-self-center backgroundDisplay">
      <div class='displaySightings'>
        <span>Recommended Episodes For You<span>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col d-flex justify-content-center align-self-center backgroundDisplay'>
      <span><i class="fa fa-angle-double-down fa-3x"></i></span>
    </div>
  </div>
</div> 

<div class="collapse show" id="collapseRecommendedEps">  
<div class="card-deck">
<div class = "row d-flex flex-row flex-nowrap overflow-auto">
 <% episodes.forEach((episode)=>{ %>
  <div class = "col">
    <div class="card cardSize">
      <form class= "artworkDisplay d-flex justify-content-center"      
        <% if(episode.episode_artwork) {%>
        style="background-image:url(<%=episode.episode_artwork%>)"
        <% } else { %>
        style="background-image:url(<%=episode.album_artwork%>)"
        <% } %>
        action ='/'> 
          <img class="card-img-top w-auto">
          <button class= "rounded-circle" type='submit'><i class='fa fa-play ml-2'></i></button>
          <input type='hidden' name="episode_id" value="<%=episode.podcast_ext_url%>"/>
      </form>
      <div class="card-body h-50">
        <h6 class="card-title"><a href="/podcast/episode/<%=episode.episode_id%>"><%=episode.name%></a></h6>
        <div class="card-text text-overflow"><%= truncateDescription(episode.episode_description)%></div>
      </div>
    </div>
  </div>
<% }); %>
</div>
</div>
</section>
