<div class='displayAtLargeBreakpoints'>
  <div class="row mt-3 mb-1">
    <div class="col d-flex justify-content-center align-self-center backgroundDisplay">
      <div class='displaySightings'>
        <h1>Recommended Episodes For You</h1>
      </div>
    </div>
  </div>

  <div id="recommendEpisodesCarouselLarge" class="carousel slide mt-5" data-interval="false" data-ride="carousel">

  <div class="carousel-inner">
  <% let i = 0 %>
  <% while(i < episodes.length) { %>
  <% if( i + 5 > episodes.length) { %>    
  <div class="carousel-item carouselDiv
  <% if(i<5) { %>
  active
  <% } %>
  ">
    <div class="d-flex justify-content-center">
      <div class="card-deck hideScrollOnCardDeck pt-3">
        <div class = "row d-flex flex-row flex-nowrap overflow-auto">      
          <% for(let k = i; k < episodes.length; k += 1) { %>
            <div class = "col">            
              <div class="card cardSize">
                <form class= "artworkDisplay d-flex justify-content-center"      
                  <% if(episodes[k].episode_artwork) { %>
                  style="background-image:url(<%=episodes[k].episode_artwork%>)"
                  <% } else { %>
                  style="background-image:url(<%=episodes[k].album_artwork%>)"  
                  action ='/'>
                  <% } %> 
                      <img class="card-img-top w-auto">
                  <button class= "rounded-circle" type='submit'><i class='fa fa-play ml-2'></i></button>
                  <input type='hidden' name="episode_id" value="<%=episodes[k].podcast_ext_url%>"/>                                  
                </form>
                <div class="card-body">
                <h5 class="card-title"><a href="/series/<%=episodes[k].series_id%>/episode/<%=episodes[k].episode_id%>"><%=episodes[k].name%></a></h5>
                <div class="card-text"><%= truncateDescription(episodes[k].episode_description)%></div>                  
                </div>
              </div>
            </div>
          <% } %> 
          </div> 
        </div>      
      </div> 
    </div>                                 
  <% break; %>  
  <% } else if (i + 5 <= episodes.length) { %>
  <% i += 5 %>
  <div class="carousel-item carouselDiv
  <% if (i===5) {%>
    active
  <% } %>
  ">
    <div class="d-flex justify-content-center">
      <div class="card-deck hideScrollOnCardDeck pt-3">
        <div class = "row d-flex flex-row flex-nowrap overflow-auto">                     
          <% for(let k = i - 5; k < i; k += 1){ %>
            <div class = "col">
              <!-- Item one-->
              <div class="card cardSize">
                <form class= "artworkDisplay d-flex justify-content-center"      
                <% if(episodes[k].episode_artwork) {%>
                style="background-image:url(<%=episodes[k].episode_artwork%>)"
                <% } else { %>
                style="background-image:url(<%=episodes[k].album_artwork%>)"
                <% } %>
                action ='/'> 
                <button class= "rounded-circle" type='submit'><i class='fa fa-play ml-2'></i></button>
                <input type='hidden' name="episode_id" value="<%=episodes[k].podcast_ext_url%>"/>               
                </form>
                <div class="card-body">
                <h5 class="card-title"><a href="/series/<%=episodes[k].series_id%>/episode/<%=episodes[k].episode_id%>"><%=episodes[k].name%></a></h5>
                <div class="card-text text-overflow"><%= truncateDescription(episodes[k].episode_description)%></div>
                </div>
              </div>
            </div>
            <% } %>
          </div> 
        </div>      
      </div> 
    </div>                      
    <% } %>                             
  <% } %> 
  </div> 

    <div>
      <a class="carousel-newControl-prev align-items-start alignPrevRight" href="#recommendEpisodesCarouselLarge" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-newControl-next align-items-start" href="#recommendEpisodesCarouselLarge" role="button" data-slide="next">
        <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>