<%- include('./mainpage/headerAndNav') %>

  <body>
    <div class="container navTopMargin">
      <div class="row">
        <div class="col-sm-4 h-auto d-flex align-items-stretch bg-info ">
            <div class="card-body">
              
              <p class="card-text"></p>
              <form class="artworkDisplay d-flex justify-content-center">
                <img class='seriesArtwork w-auto'src="/<%=selectedEpisode.episode_artwork_filename%>"/>
                <button class= "rounded-circle" type='submit' formaction="/series/<%=selectedEpisode.episode_series_id%>/episode/<%=selectedEpisode.episode_id%>"><i class='fa fa-play ml-2'></i></button>
                <input type='hidden'  name="podcast_ext_url" value="<%=selectedEpisode.episode_podcast_ext_url%>"/>
              </form>
          </div>
        </div>
        <div class="col-sm-8 bg-warning">          
          <div class="card-body pl-0 pb-2">
            <div class ="w-100 d-inline-flex justify-content-between">
              <div class="dropdown">                  
                <button class="btn bg-transparent text-dark dropdown-toggle w-auto h-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class='episodeDescription'><%= selectedEpisode.series_name %></span>
                </button>                                  
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">    
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#addToPlaylist">
                      Add Episode to A Playlist
                    </a>            
                      <a class="dropdown-item btn btn-warning" href='/series/<%=selectedEpisode.episode_series_id%>/episode/<%=selectedEpisode.episode_id%>/edit' role="button" type='submit'>Edit</a>                     
                    <form class="dropdown-item" action="/series/<%=selectedEpisode.episode_series_id%>/episode/<%=selectedEpisode.episode_id%>/delete?_method=DELETE" method="POST">
                      <input
                        type="submit"
                        name="_method"
                        class="btn btn-danger"
                        value="Delete"
                      />
                    </form>                    
                </div>
                       
              </div>
            
            <div class="align-self-center">
              <form action='/series/<%=selectedEpisode.episode_series_id%>/episode/<%=selectedEpisode.episode_id%>/favourite' method="POST">
                <button class="favouriteBtn bg-transparent border-0 shadow-none"                             
                type="submit"
                <% if(!locals.loggedInUser) {%>
                  disabled
                <% } %>
                >
                  <% if(locals.isEpisodeFavourited !== undefined) { %>
                    <% if(isEpisodeFavourited === true ){ %>
                    <i class="fa fa-heart"></i>
                    <% } else if(isEpisodeFavourited === false) { %>
                    <i class="fa fa-heart-o"></i>
                    <% } %>
                  <% } else { %>
                    <i class="fa fa-heart-o"></i>
                  <% } %>
                </button>              
                <input type="hidden" name="favouriteSeries"/>                              
              </form>
            </div>                     
          </div>
          <div class='pl-3 pb-1'>Episode: <%=selectedEpisode.episode_name%></div>
        </div>
          <p class="card-text ml-3"><%=selectedEpisode.episode_description%></p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class='mt-4 mb-2'>Comments</div>
      <form action="/series/<%=selectedEpisode.episode_series_id%>/episode/<%=selectedEpisode.episode_id%>/comment" method="POST">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <textarea class="form-control commentBox" rows="1" id="comment" name="comment" placeholder='Add a public comment'></textarea>
            <% if(!locals.loggedInUser){%>
            <small class= 'text-danger' >You must be logged in to favourite or make a comment.</small>
            <% } %>
          </div>
        </div>
      </div>

      <div class="form-group pl-3">
          <div class="row">
            <div class="col-xs-1">
                <button class="btn btn-primary btn-sm" type="submit" role="button"
                <% if(!locals.loggedInUser) { %>
                disabled                
                <% } %>>
                  Submit
                </button>
            </div>
          <div class="col-xs-1">
            <a href="/series/<%=selectedEpisode.episode_series_id%>/episode/<%=selectedEpisode.episode_id%>" class="btn btn-outline-secondary btn-sm ml-3" role="button">
                  Cancel</a
                >
            </div>
          </div>
        </div>
       </form>
    </div>
  </div>

<!--Add to Playlist Modal -->

<% if(locals.selectedPlaylist){ %>
  <div class="modal fade show" id="addToPlaylist" tabindex="-1" aria-labelledby="addToPlaylistLabel" style="display: block; padding-right: 15px;" aria-modal="true" role="dialog">
<% } else { %>
  <div class="modal fade" id="addToPlaylist" tabindex="-1" role="dialog" aria-labelledby="addToPlaylistLabel" aria-hidden="true">
<% } %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addToPlaylistLabel">Add Episode To A Playlist</h5>
        <form action= '/series/<%=selectedEpisode.episode_series_id%>/episode/<%=selectedEpisode.episode_id%>'>
          <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </form>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose from an existing playlist</button>
            <form>
              <div class="dropdown-menu">
              <% if(locals.currUserPlaylists){ %>
                <% currUserPlaylists.forEach((playlist)=>{ %>
                  <input class="dropdown-item" type='submit' name='addPlaylist' value='<%=playlist.name%>' />                    
                <% }) %>
              <% } %>                        
              </div>
            </form>
          </div>
          <input type="text" class="form-control" aria-label="Text input with dropdown button" 
          <% if(locals.selectedPlaylist) {%>
          value = "<%=selectedPlaylist%>"
          <% } %>
          readonly>
        </div>            
      </div>
      <div class="modal-footer">
        <form action= '/series/<%=selectedEpisode.episode_series_id%>/episode/<%=selectedEpisode.episode_id%>'>
          <input class="btn btn-secondary" type="submit" data-dismiss="modal" value="Close"/>
        </form>
        <form action='/insertEpisodeIntoPlaylist' method='POST'>
          <button type="submit" class="btn btn-primary">Add</button>
          <input name='selectedPlaylist' value="<%=selectedPlaylist%>" hidden/>
          <input name='currEpisodeId' value="<%=selectedEpisode.episode_id%>" hidden/>
          <input name='currSeriesId' value="<%=selectedEpisode.episode_series_id%>" hidden/>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Comments display -->
  <div class="container">
    <%if (locals.comments) {%>
    <% comments.forEach((comment)=>{ %>
    <div class="row">
      <div class="col-2 mb-3 d-flex justify-content-end align-self-start mt-1 pr-2">
         <a href='/user/<%=comment.poster_id%>'>
          <img class="profilePic rounded-circle" src='/<%=comment.profile_pic%>'>
        </a>
      </div>
      <div class="col-10 mb-3">
        <div class="row">
          <div class="col-12 pl-0">
            <a href='/user/<%=comment.poster_id%>'>
              <small class="commentsDisplay"><b><%=comment.username%></b></small>
            </a>
          </div>
        </div>
          <div class="row">
            <div class="col-12 pl-0">
              <small class='commentsDisplay'><%=comment.comment%></small>
            </div>
          </div>
          <div class="row">
            <div class="col-4 pl-0">
              <small class='commentsDisplay'>
                <form action='/series/<%=selectedEpisode.episode_series_id%>/episode/<%=selectedEpisode.episode_id%>/comment/<%=comment.user_episode_comment_id%>/favourite?_method=PUT' method="POST" >
                <button class="bg-transparent border-0 shadow-none commentFavouriteBtn" type="submit">
                  <% if(comment.isFavourited !== undefined){ %>
                    <% if(comment.isFavourited === true) { %>
                      <i class="fa fa-heart"></i>
                    <% } else { %>
                      <i class="fa fa-heart-o"></i>
                    <% } %>
                  <% } else { %>
                  <i class="fa fa-heart-o"></i>
                  <% } %>
                </button>
                <input type="hidden" name="favouriteComment"/>
                </form>
              </small>
            </div>
          </div>          
        </div>
      </div>
    <% }); %>
    <% } %>
  </div>
  
  <div class="container">
      <div class="row mt-3 pb-4 navTopMargin">
        <div class="col d-flex justify-content-center ">
          <a href="/" class="btn btn-primary" role="button">
            Return to Main</a
          >
        </div>
    </div>
  </div>
  </body>
<%-include('soundcloudPlayer') %>
<%-include('./mainpage/footer') %>
