<%- include('../mainpage/headerAndNav') %>
<body class='bg'>  
 <div class="container navTopMargin">
     <div class="row">
         <div class="col">
             Hello
        </div>
    </div>  

     <div class="row">
         <div class="col">
             Hello
        </div>
    </div>  


     <div class="row">
         <div class="col">
             Hello
        </div>
    </div>  
 </div>
<!-- First section for Recommended Podcasts by Series -->
<%-include('../mainpage/popularSeries')%>
<!-- Second section for Recommended Podcasts by Episodes -->
<%-include('../mainpage/recommendation') %>
<!-- Third Section on Social Activity-->
<%-include('../mainpage/socialActivity') %>

</div>
</body>

<div class="spacing"></div>
<span class="iframeDisplay">
    <iframe class ="mt-2 " width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src='<%=episodeLinkToPlay%>'></iframe>
</span>
<%-include('../mainpage/footer') %>
