<%- include('../mainpage/headerAndNav') %>
<body class='bg'>  
<%- include('./userProfileBreadcrumbs') %>
 <div class="container navTopMargin ">
<%- include('userInfoDisplay')%>
     <div class="row d-flex justify-content-center pb-3">
         <div class="col-3 d-flex justify-content-center pb-2">
             <a href="/user/<%=currUserId%>/myPlaylists"  class='text-center my-auto'>My Playlists</a>
        </div>
        <div class="col-3 d-flex justify-content-center tabDiv pb-2">
             <a href="/user/<%=currUserId%>/favouriteEpisodes" class='text-center my-auto'>All Favourite Episodes</a>
        </div>
        <div class="col-3 d-flex justify-content-center pb-2">
             <a href="/user/<%=currUserId%>/favouriteComments" class='text-center my-auto'>All Favourite Comments</a>
        </div>
        <div class="col-3 d-flex justify-content-center pb-2">
             <a href="/user/<%=currUserId%>/following" class='text-center my-auto'>Following</a>
        </div>
    </div>  
 </div>

<!-- Display All Favourite Episodes -->
<div class="container profilePageDisplay smallTable">
     <table class="table table-hover" class="collapse" data-parent="#overallAccordion">
  <thead>
    <tr>      
      <th scope="col" class='text-white text-center smallHeader border-0'><div></div></th>
      <th scope="col" class='text-white text-center smallHeader border-0'>Episode</th>
      <th scope="col" class='text-white text-center smallHeader border-0'>Ep. No.</th>
    </tr>
  </thead>
  <tbody id="accordion">
    <tr class= "accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse1">
      <% episodes.forEach((episode)=>{ %>
      <td class='text-center d-flex flex-row justify-content-center'>
        <form class="epArtworkDisplay playlistArtworkContainer"action ='/user/<%=currUserId%>/favouriteEpisodes'>
      <% if(episode.episode_artwork_filename) { %>
        <img class='w-100 h-auto' src="<%=episode.episode_artwork_filename%>"/>
      <% } else { %>
        <img class='w-100 h-auto' src="<%=episode.series_artwork_filename%>"/>
        <% } %>
          <button class="rounded-circle" type='submit'><i class='fa fa-play ml-2'></i></button>          
        <input type='hidden' name="podcast_ext_url" value="<%=episode.podcast_ext_url%>"/>
      </form>
    </td>
      <td class='text-center'><a href='/series/<%=episode.series_id%>/episode/<%=episode.episode_id%>'><%=episode.episode_name%></a></form></td>
      <td class='text-white text-center'><%= episode.episode_number %></td>        
    <td class='actionBtns border-0'>
            
                <% if(isUserAuth === true){ %>
              <form action='/user/<%=loggedInUserId%>/editFavouriteEpisode/<%=episode.episode_id%>?_method=PUT' method="POST">
                <button class="favouriteBtn bg-transparent border-0 shadow-none"                             
                type="submit"
                >                  
                    <% if(episode.favourited === true ){ %>
                    <i class="fa fa-heart"></i>
                    <% } else if(episode.favourited === false) { %>
                    <i class="fa fa-heart-o"></i>
                    <% } %>
                </button>              
                <input type="hidden" name="favouriteSeries"/>                              
              </form>
            <% } %>
            
        </form>
      </div>
    </td>
    </tr>
    <% }); %>   
  </tbody>
</table>
</div>
</div>
</body>

<div class="spacing"></div>
<span class="iframeDisplay">
    <iframe class ="mt-2 " width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src='<%=episodeLinkToPlay%>'></iframe>
</span>
<%-include('../mainpage/footer') %>
