<%- include('../mainpage/headerAndNav') %>
<body class='bg'>  
 <div class="container navTopMargin ">
<%- include('userInfoDisplay')%>
     <div class="row d-flex justify-content-center pb-3 ">
         <div class="col d-flex justify-content-center">
             <a href="/user/<%=currUserId%>/myPlaylists">My Playlists</a>
        </div>
        <div class="col d-flex justify-content-center">
             <a href="/user/<%=currUserId%>/favouriteEpisodes">All Favourite Episodes</a>
        </div>
        <div class="col d-flex justify-content-center">
             <a href="/user/<%=currUserId%>/favouriteComments">All Favourite Comments</a>
        </div>
        <div class="col d-flex justify-content-center">
             <a href="/user/<%=currUserId%>/following">Following</a>
        </div>
    </div>  
 </div>

<!-- Display All Favourite Comments -->
<div class="container profilePageDisplay border border-dark">
     <table class="table table-hover" class="collapse" data-parent="#overallAccordion">
  <thead>
    <tr>
      <th scope="col" class='text-dark'>Favourited Comments</th>
    </tr>
  </thead>
  <tbody id="accordion">
    <tr class= "accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse1">
     <% if(locals.comments) { %>
      <% comments.forEach((comment)=>{ %>
      <td>
      <div class="row">
      <div class="col-sm-2 mb-3 d-flex justify-content-end align-self-start mt-1 pr-2">
         <a href='/user/<%=comment.poster_id%>'>
          <img class="profilePic rounded-circle" src='/<%=comment.profile_pic%>'>
        </a>
      </div>
      <div class="col-sm-10 mb-3">
        <div class="row">
          <div class="col-md-4 pl-0">
            <a href='/user/<%=comment.poster_id%>'>
              <small class="commentsDisplay"><b><%=comment.username%></b></small>
            </a>
          </div>
        </div>
          <div class="row">
            <div class="col-md-12 pl-0">
              <small class='commentsDisplay'><%=comment.comment%></small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pl-0">
              <small class='commentsDisplay font-italic'>In Podcast Series: <%=comment.seriesName%>, Episode: <%=comment.episodeName%></small>
            </div>
          </div>          
          <div class="row">
            <div class="col-md-4 pl-0">
              <small class='commentsDisplay'>
                <form action='/user/<%=currUserId%>/favouriteComments?_method=PUT' method="POST" >
                <button class="bg-transparent border-0 shadow-none commentFavouriteBtn" type="submit">
                  <% if(comment.favourited !== undefined){ %>
                    <% if(comment.favourited === true) { %>
                      <i class="fa fa-heart"></i>
                    <% } else { %>
                      <i class="fa fa-heart-o"></i>
                    <% } %>
                  <% } else { %>
                  <i class="fa fa-heart-o"></i>
                  <% } %>
                </button>
                <input type="hidden" name="favouriteComment"/>
                </form>
              </small>
            </div>
          </div>          
        </div>
      </div>
    </td>
    </tr>
    <% }) %>
    <% }; %>   
  </tbody>
</table>
</div>
</body>

<div class="spacing"></div>
<span class="iframeDisplay">
    <iframe class ="mt-2 " width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src='<%=episodeLinkToPlay%>'></iframe>
</span>
<%-include('../mainpage/footer') %>
