<%- include('../mainpage/headerAndNav') %>
<body class='bg'>
<%- include('./userProfileBreadcrumbs') %>  
 <div class="container navTopMargin ">
<%- include('userInfoDisplay')%>
     <div class="row d-flex justify-content-center pb-3 ">
         <div class="col-3 d-flex justify-content-center pb-2">
             <a href="/user/<%=currUserId%>/myPlaylists"class='text-center my-auto'>My Playlists</a>
        </div>
        <div class="col-3 d-flex justify-content-center pb-2">
             <a href="/user/<%=currUserId%>/favouriteEpisodes"class='text-center my-auto'>All Favourite Episodes</a>
        </div>
        <div class="col-3 d-flex justify-content-center pb-2">
             <a href="/user/<%=currUserId%>/favouriteComments"class='text-center my-auto'>All Favourite Comments</a>
        </div>
        <div class="col-3 d-flex justify-content-center tabDiv pb-2">
             <a href="/user/<%=currUserId%>/following" class='text-center my-auto'>Following</a>
        </div>
    </div>  
 </div>

<!-- Display All follower details -->
<div class="container profilePageDisplay">
  <div class="row d-flex flex-row justify-content-center">
    <div class='col-5 col-md-3 following mr-5'>
      <table class="table table-hover table-borderless">
        <thead>
            <tr>
              <th scope="col" class='text-light smallHeader'><%=currUsername%>'s followers</th>
            </tr>
          </thead>
        <tbody id="accordion">
          <tr class= "accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse1">
          <% if(locals.followers) { %>
            <% followers.forEach((follower)=>{ %>
            <td>
            <div class="row d-flex flex-row justify-content-center">
            <div class="col-2 mb-3 d-flex justify-content-end align-self-start mt-1 pr-2">
              <a href='/user/<%=follower.follower_user_id%>'>
                <img class="profilePic rounded-circle" src='<%=follower.profile_pic%>'>
              </a>
            </div>
            <div class="col-1 mb-3">
              <div class="row mt-3">
                <div class="col-2 pl-0">
                  <a href='/user/<%=follower.follower_user_id%>'>
                    <small class="commentsDisplay"><b><%=follower.username%></b></small>
                  </a>
                </div>
              </div>      
              </div>
            </div>
          </td>
          </tr>
          <% }) %>
          <% }; %>   
        </tbody>
      </table>
    </div>
<!-- Display All followings details -->
  <div class='col-5 col-md-3 following'>
      <table class="table table-hover table-borderless smallHeader">
        <thead>
          <tr>
            <th scope="col" class='text-light'><%=currUsername%> is following</th>
          </tr>
        </thead>
        <tbody id="accordion">
          <tr class= "accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse1">
          <% if(locals.followings) { %>
            <% followings.forEach((follow)=>{ %>
            <td>
            <div class="row d-flex flex-row justify-content-center">
            <div class="col-2 mb-3 d-flex justify-content-end align-self-start mt-1 pr-2">
              <a href='/user/<%=follow.following_user_id%>'>
                <img class="profilePic rounded-circle" src='<%=follow.profile_pic%>'>
              </a>
            </div>
            <div class="col-1 mb-3">
              <div class="row mt-3">
                <div class="col-4  pl-0">
                  <a href='/user/<%=follow.following_user_id%>'>
                    <small class="commentsDisplay"><b><%=follow.username%></b></small>
                  </a>
                </div>
              </div>      
              </div>
            </div>
          </td>
          </tr>
          <% }) %>
          <% }; %>   
        </tbody>
    </table>
  </div>
</div>
</body>

<div class="spacing"></div>
<span class="iframeDisplay">
    <iframe class ="mt-2 " width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src='<%=episodeLinkToPlay%>'></iframe>
</span>
<%-include('../mainpage/footer') %>
