<%- include('../mainpage/headerAndNav') %>
<body class='bg'>  
 <div class="container navTopMargin ">
<%- include('userInfoDisplay')%>
     <div class="row d-flex justify-content-center pb-3 ">
         <div class="col d-flex justify-content-center">
             <a href="/user/<%=currUserId%>/myPlaylists">My Playlists</a>
        </div>
        <div class="col d-flex justify-content-center">
             <a href="/user/<%=currUserId%>/favouriteEpisodes">All Favourite Episodes</a>
        </div>
        <div class="col d-flex justify-content-center">
             <a href="/user/<%=currUserId%>/favouriteComments">All Favourite Comments</a>
        </div>
        <div class="col d-flex justify-content-center">
             <a href="/user/<%=currUserId%>/following">Following</a>
        </div>
    </div>  
 </div>

<!-- Display All Favourite Comments -->
<div class="container profilePageDisplay border border-dark">
  <div id="overallAccordion">
  <table class="table table-hover" class="collapse" data-parent="#overallAccordion">
    <thead>
      <tr>
        <th scope="col" class='text-dark'>Playlist</th>
        <th scope="col" class='text-dark'>Description</th>
        <th scope="col" class='text-dark'>Actions</th>
      </tr>
    </thead>
    <tbody id="accordion">
     <% if(locals.playlists){%>
        <% playlists.forEach((playlist)=>{ %>      
      <tr class= "accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse1">
          <td><%=playlist.name %></td>
          <td><%=playlist.description %></td>
          <td> Remove From Playlist</td>
      </tr>          
      <% }) %>
    <% }; %>      
    </tbody>
  </table>
  </div>  
</div>
</body>

<div class="spacing"></div>
<span class="iframeDisplay">
    <iframe class ="mt-2 " width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src='<%=episodeLinkToPlay%>'></iframe>
</span>
<%-include('../mainpage/footer') %>
